# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# SQLite database file
*.db

# Virtual environments
env/
venv/
.venv/
ENV/
env.bak/
venv.bak/

# Environment variables and configuration
.env
.env.*

# Distribution / packaging
build/
develop-eggs/
dist/
downloads/
.eggs/
*.egg-info/

# IDE and editor directories
.vscode/
.idea/

# OS-specific files
.DS_Store
